@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px #b91c1c;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px #b91c1c;
  }
  .text-shadow-lg {
    text-shadow: 15px 15px 30px #b91c1c;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}

* {
  box-sizing: border-box;
}
